*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form #guess{
    margin-top: 80px;
    font-size: 50px;
    font-weight: 1200;
}

form #guessField{
    width: 200px;
    height: 38px;
    padding: 7px;
}

form #subtn{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: grey;
}

form #subtn:hover{
    background-color: green;
}

.center-element{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.resultParas p{
    margin-bottom: 13px;
    font-size: 23px;
}

.outcomes{
    display: flex;
    justify-content: center;
    color: green;
    font-size: 23px;
    font-weight: 600;
}

#rst{
    display: none;
    padding: 10px;
    font-size: 23px;
    width: 120px;
    font-weight: 600;
    border: none;
    background-color: grey;
}

#rst:hover{
    background-color: rgb(207, 214, 207);
}

.resetbtn{
    display: flex;
    justify-content: center;
    margin-top: 13px;
}